* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}

.text-center {
    display: flex;

    flex-direction: column;

    text-align: center;

    justify-content: center;
}

.grid {
    /* Structure */
    display: grid;

    width: calc(100vw - 20px);
    height: 200vh;

    padding: 10px;

    /* fr - equivale a 33% da largura total um fragmento */

    /* grid-template-columns: 33% 1fr 1fr; divide os elementos em duas ou mais colunas colunas */

    /* Repetir os fragmentos */
    grid-template-columns: repeat(3, 1fr);

    /* grid em linha */
    grid-template-rows: repeat(8, 1fr);

    /* gap: 20px 20px; */
    row-gap: 20px;
    column-gap: 20px;

    /* Visual */
    background-color: rgb(172, 172, 172);
}

.grid div {
    /* Structure */
    /* width: 100px; */

    /* height: 100vh; */
    /* Visual */
    background-color: lightcoral;

    border: 1.5px solid black;
}

.grid div:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 4;

    /* 
    Ou por span
    grid-row: span 2;
    grid-column: span 3; 
    */

    /* Visual */
    background-color: lightskyblue;
}

.grid div:nth-child(9),
.grid div:nth-child(8) {
    /* Structure */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;

    /* Visual */
    background-color: lightgreen;
}

.grid div:nth-child(12) {
    grid-area: 5 / 2 / 5 / 4;

    /* Visual */
    background-color: lightgoldenrodyellow;
}

.grid-2 {
    display: grid;
    width: calc(100vw - 20px);
    height: 100vh;

    padding: 20px;

    grid-template-rows: 50px 1fr auto;
    grid-template-columns: 200px 1fr;

    grid-template-areas: 'header header' 'nav main' ' footer footer';

    /* Visual */
    background-color: lightslategrey;
}

.grid-2 div {
    /* width: 150px;
    height: 150px; */

    /* Visual */
    background-color: lightsalmon;

    border: 1.5px solid black;
}

.grid-2 div:nth-child(1) {
    grid-area: header;
}

.grid-2 div:nth-child(2) {
    grid-area: nav;
}

.grid-2 div:nth-child(3) {
    grid-area: main;
}

.grid-2 div:nth-child(4) {
    grid-area: footer;
}

@media (max-width: 768px) {
    .grid div:nth-child(5) {
        grid-column: span 1;
    }
}